<h2>
    <!-- ko text:$t('Get verified with ID.me') --> <!-- /ko -->
</h2>
<!-- ko if: idmeVerify().verified -->
<div class="affiliation">
    <!-- ko text:$t('You have completed') --><!-- /ko -->
    <strong data-bind="text:idmeVerify().verifiedGroup"></strong>
</div>
<!-- /ko -->
<!-- ko ifnot: idmeVerify().verified -->
<div class="discount idme-connect" id="idme-buttons" data-bind="foreach:idmeVerify().policies">
    <div class="idme-button">
        <a href="#" class="login-trigger" data-bind="attr:{name: handle, title:name},click: $parent.popupVerify">
            <img src="" height="34" alt="" data-bind="attr:{src: img_url, alt: name}"/>
        </a>
    </div>
</div>
<!-- /ko -->

<div class="idme-about">
    <div class="container">
        <img alt="ID.me" src="https://s3.amazonaws.com/idme/assets/lock.png" width="8" />
        <span data-bind="text:$t('Verification by ID.me')"></span>
        <a href="#" class="idme-modal-trigger" data-bind="click: getModal"><span data-bind="text:$t('What is ID.me?')"></span></a>
        <!-- ko if: idmeVerify().verified -->
        | <a id="remove_verification"
             href="#"
             data-bind="attr:{title:$t('Remove your verified affiliation')}, click: removeVerification">
        <span data-bind="text:$t('Remove')"></span>
    </a>
        <!-- /ko -->

    </div>
</div>

<div id="idme-modal" style="display: none;"></div>
<div id="idme-modal-content" style="display: none;">
    <h3 data-bind="text: $t('What is ID.me?')"></h3>
    <div class="content" data-bind="text:$t(idmeVerify().aboutText)"></div>
</div>