<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <idme>
            <settings>
                <about>
                    <![CDATA[With one login, you'll be able to easily access benefits and discounts from hundreds of partners.]]>
                </about>
            </settings>
        </idme>
    </default>
</config>